/*========== Custome Fonts  ==========*/
@font-face {
  font-family: 'SanFranciscoPro';
  src: url('../fonts/SF-Pro-Display-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoPro';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/*========== End Custome Fonts  ==========*/
