// Font Variable
$body-font: -apple-system, 'SanFranciscoPro', sans-serif;

// Font Size
$body-font-size: 14px;

// Body Line Height
$body-line-height: 1.6em;

// Light Color Palettes
$main-color: #fff;
$base-color1: #222;
$base-color2: rgba(34, 34, 34, 0.7);
$base-color3: rgba(34, 34, 34, 0.4);
$base-color4: rgba(34, 34, 34, 0.1);
$base-color5: rgba(34, 34, 34, 0.02);
$base-color6: rgba(34, 34, 34, 0.05);

// Accent color
$accent-color1: #5856d6;
$accent-color2: #007aff;
$accent-color3: #34c759;
$accent-color4: #ff3b30;
$accent-color5: #ffcc00;
$accent-color6: #5ac8fa;
$accent-color7: #8e8e93;
$accent-color8: #ff9500;
