// Font Variable
$body-font: -apple-system, 'SanFranciscoPro', sans-serif;

// Font Size
$body-font-size: 14px;

// Body Line Height
$body-line-height: 1.6em;

// Black Color Palettes
$main-color: #101010;
$base-color1: rgba(255, 255, 255, 0.8);
$base-color2: rgba(255, 255, 255, 0.6);
$base-color3: rgba(255, 255, 255, 0.3);
$base-color4: rgba(255, 255, 255, 0.08);
$base-color5: #090909;
$base-color6: rgba(255, 255, 255, 0.04);

// Accent color
$accent-color1: #5856d6;
$accent-color2: #007aff;
$accent-color3: #34c759;
$accent-color4: #ff3b30;
$accent-color5: #ffcc00;
$accent-color6: #5ac8fa;
$accent-color7: #8e8e93;
$accent-color8: #ff9500;
