/*========== Start Accordion ==========*/
/*Accordion Style1*/
.tb-accordian-body {
  display: none;
}

.tb-accordian.tb-active .tb-accordian-body {
  display: block;
}

.tb-accordian-wrap.tb-style1 {
  .tb-accordian-title {
    font-size: 16px;
    line-height: 1.6em;
    color: $base-color1;
    font-weight: 500;
    padding: 12px 15px;
    border: 1px solid $base-color4;
    border-radius: 4px;
    background-color: $base-color5;
    position: relative;
    cursor: pointer;
    padding-right: 35px;
    transition: all 0.3s ease;

    &.tb-open {
      color: $accent-color2;
    }

    >i {
      font-size: 21px;
      line-height: 0.5em;
      position: relative;
      top: 5px;
      margin-right: 8px;
    }
  }

  .tb-accordian-body {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.6em;
    border: 1px solid $base-color4;
    margin-top: -2px;
    border-top: 0;

    p {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .tb-accordian:not(:last-child) {
    margin-bottom: 15px;
  }
}

.tb-accordian-toggle {
  display: block;
  height: 10px;
  width: 10px;
  right: 20px;
  position: absolute;
  top: 50%;
  margin-top: -5px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 10px;
    background: $base-color1;
    transition: all 0.3s ease;
  }

  &:before {
    transform: rotate(90deg);
    top: 3px;
    left: 0;
  }

  &:after {
    top: 3px;
    left: 0px;
  }
}

.tb-accordian-toggle.tb-style1 {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6em;
  font-size: 21px;
  top: 19px;
  right: 10px;
  transition: all 0.3s ease;

  &:before,
  &:after {
    display: none;
  }
}

.tb-accordian-title.tb-open {
  .tb-accordian-toggle.tb-style1 {
    transform: rotate(180deg);
  }
}

.tb-accordian-title.tb-open {
  .tb-accordian-toggle {
    &:before {
      transform: rotate(0deg);
      background-color: $accent-color2;
    }

    &:after {
      background-color: $accent-color2;
    }
  }
}

/*========== End Accordion ==========*/
