/*========== Start Active List ==========*/
.tb-ativity-list.tb-style1 {
  li:not(:last-child) {
    margin-bottom: 15px;
  }
  li {
    display: flex;
    .tb-ativity-icon {
      margin-right: 10px;
    }
  }
  .tb-ativity-text {
    h3 {
      font-size: 14px;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 3px;
      color: $base-color2;
    }
    .tb-ativity-time {
      font-size: 12px;
      display: flex;
      align-items: center;
      color: $base-color3;
      margin-bottom: -3px;
      i {
        margin-right: 5px;
      }
    }
    strong,
    a {
      font-weight: 400;
      color: $base-color1;
      &:hover {
        color: rgba($base-color1, 0.8)
      }
    }
  }
}
/*========== End Active List ==========*/
