/*========== Start Image Gallery  ==========*/
.tb-image-gallery.tb-style1 {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;

  li {
    width: 33.333333%;
    padding: 6px;
  }

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.tb-image-gallery.tb-style2 {
  display: flex;
  margin: -5px;

  li {
    width: 50%;
    padding: 5px;
  }

  a {
    display: block;
  }
}

.tb-gallery-img-height1 {
  height: 430px;
  display: block;
  width: 100%;
}

.tb-gallery-img-height2 {
  height: 210px;
  display: block;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .tb-image-gallery.tb-style2 {
    flex-direction: column;
  }

  .tb-image-gallery.tb-style2 li {
    width: 100%;
  }
}

/*========== End Image Gallery  ==========*/
