/*========== Start Nestable List  ==========*/
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 42px !important;
  margin: 10px 0;
  color: $base-color2;
  border: 1px solid $base-color4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: $main-color;
  cursor: all-scroll;

  span {
    line-height: inherit;
    padding: 10px 15px;
    display: block;
    background: $base-color5;
  }
}

.dd.tb-nestable.tb-style2 {
  .dd-handle {
    color: $accent-color2;
    border: 1px solid rgba($accent-color2, 0.6);
    background: $main-color;

    span {
      background: rgba($accent-color2, 0.1);
    }
  }
  .tb-nested-dropdown {
    border-color: rgba($accent-color2, 0.6);
  }
}

.dd-item>button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 16px;
  height: 42px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  margin-right: 3px;
  margin-left: 12px;
  padding-top: 1px;
  color: #b5b5b5;
  display: none;
}

.dd-item>button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item>button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  border: 2px dashed $base-color4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 4px;
}

.dd-empty {
  border: 2px dashed $base-color4;
  min-height: 100px;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
  margin-top: 0;
}

// Nested List
.tb-nested-dropdown {
  padding: 15px;
  padding-top: 22px;
  padding-bottom: 5px;
  border: 1px solid $base-color4;
  margin-top: -12px;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  display: none;
}

.tb-nested-dropdown-row {
  display: flex;
  flex-wrap: wrap;

  .tb-nested-col-1 {
    width: 100%;
    padding: 0 7px;
    margin-bottom: 15px;
  }

  .tb-nested-col-2 {
    width: 50%;
    padding: 0 7px;
    margin-bottom: 15px;
  }
}

.tb-nested-dropdown-btn-group {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .btn:not(:last-child) {
    margin-right: 8px;
  }
}

.tb-nested-dropdown-btn {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background-color: transparent;
  font-size: 26px;
  color: #b5b5b5;
  display: flex;
  padding: 11px 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $base-color2;
  }

  &.tb-active {
    transform: rotate(180deg);
  }
}
/*========== End Nestable List  ==========*/
